.grey {
  background-color: rgba(128,128,128,.25);
}

.lang_brainfuck {
  background-color: rgba(0,0,128,.25);
}
.lang_python {
  background-color: rgba(0,0,255,.25);
}
.lang_javascript {
  background-color: rgba(0,128,0,.25);
}

.lang_ruby {
  background-color: rgba(0,128,128,.25);
}
.lang_java {
  background-color: rgba(0,128,255,.25);
}
.lang_php {
  background-color: rgba(0,255,0,.25);
}

.lang_go {
  background-color: rgba(0,255,128,.25);
}
.lang_perl {
  background-color: rgba(0,255,255,.25);
}
.lang_objc {
  background-color: rgba(128,0,0,.25);
}

.lang_lua {
  background-color: rgba(128,0,128,.25);
}
.lang_basic {
  background-color: rgba(128,0,255,.25);
}
.lang_pascal {
  background-color: rgba(128,128,0,.25);
}

.lang_ada {
  background-color: rgba(128,128,255,.25);
}
.lang_cobol {
  background-color: rgba(128,255,0,.25);
}
.lang_eiffel {
  background-color: rgba(128,255,128,.25);
}
.lang_bash {
  background-color: rgba(128,255,255,.25);
}
.lang_cpp {
  background-color: rgba(255,0,0,.25);
}
.lang_lisp {
  background-color: rgba(255,0,128,.25);
}
.lang_clojure {
  background-color: rgba(255,0,255,.25);
}
.lang_prolog {
  background-color: rgba(255,128,0,.25);
}
.lang_forth {
  background-color: rgba(255,128,128,.25);
}
.lang_assembly {
  background-color: rgba(255,128,255,.25);
}
.lang_matlab {
  background-color: rgba(255,255,0,.25);
}
.lang_r {
  background-color: rgba(255,255,128,.25);
}

.darkgrey {
  background-color: rgba(128,128,128,.45);
}
.lang_darkbrainfuck {
  background-color: rgba(0,0,128,.45);
}
.lang_darkpython {
  background-color: rgba(0,0,255,.45);
}
.lang_darkjavascript {
  background-color: rgba(0,128,0,.45);
}

.lang_darkruby {
  background-color: rgba(0,128,128,.45);
}
.lang_darkjava {
  background-color: rgba(0,128,255,.45);
}
.lang_darkphp {
  background-color: rgba(0,255,0,.45);
}

.lang_darkgo {
  background-color: rgba(0,255,128,.45);
}
.lang_darkperl {
  background-color: rgba(0,255,255,.45);
}
.lang_darkobjc {
  background-color: rgba(128,0,0,.45);
}

.lang_darklua {
  background-color: rgba(128,0,128,.45);
}
.lang_darkbasic {
  background-color: rgba(128,0,255,.45);
}
.lang_darkpascal {
  background-color: rgba(128,128,0,.45);
}

.lang_darkada {
  background-color: rgba(128,128,255,.45);
}
.lang_darkcobol {
  background-color: rgba(128,255,0,.45);
}
.lang_darkeiffel {
  background-color: rgba(128,255,128,.45);
}
.lang_darkbash {
  background-color: rgba(128,255,255,.45);
}
.lang_darkcpp {
  background-color: rgba(255,0,0,.45);
}
.lang_darklisp {
  background-color: rgba(255,0,128,.45);
}
.lang_darkclojure {
  background-color: rgba(255,0,255,.45);
}
.lang_darkprolog {
  background-color: rgba(255,128,0,.45);
}
.lang_darkforth {
  background-color: rgba(255,128,128,.45);
}
.lang_darkassembly {
  background-color: rgba(255,128,255,.45);
}
.lang_darkmatlab {
  background-color: rgba(255,255,0,.45);
}
.lang_darkr {
  background-color: rgba(255,255,128,.45);
}


td {
    padding:2px;
    font-size: 16px;
    text-align:center;
    vertical-align: top;
    border: 1px solid #BED3AB;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    color:#000;
    text-shadow:1px 1px 1px #fff;
}
